* {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background: #d45f00;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

nav {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 15px;
  list-style-type: none;
  cursor: pointer;
}

nav img {
  cursor: pointer;
}

.slider {
  height: 100vh;
  width: 100wh;
  background: url("images/pizza-1.jpg");
  background-position: center;
  background-size: cover;
}

.pizza-specials {
  margin-top: 80px;
  text-align: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.card > p {
  padding-top: 40px;
  font-size: 1.3rem;
}

.card {
  border: #a7a7a7 2px solid;
  box-shadow: #d6d6d6 1px 2px 8px;
  border-radius: 5px;
  margin: 20px;
  padding: 20px 0px 20px 0px;
}

.card:nth-child(1):hover {
  transition: 3s;
  transform: rotate(360deg);
}
.card:nth-child(2):hover {
  transition: 3s;
  transform: scaleX(-1);
}
.card:nth-child(3):hover {
  transition: 3s;
  transform: rotate(-360deg);
}

.testimonials {
  margin-top: 80px;
  text-align: center;
  font-size: 1.2rem;
}

.comment {
  margin-top: 50px;
}

.auth {
  padding-top: 20px;
}

.cta {
  text-align: center;
  margin-top: 80px;
}

.cta p {
  padding-top: 25px;
}

.cta button {
  border: none;
  background: #2f9c00;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: 1s;
}

.btn:hover {
  background: #d45f00;
}

.btn {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: 40px;
}

.three-columns {
  margin-top: 100px;
}

.col {
  border: 1px solid #898989;
  padding: 30px;
  border-radius: 2px;
  margin: 0px 70px 1px 70px;
}

.col p {
  padding-top: 20px;
}

.contact-form {
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-form label {
  font-weight: bold;
}

.inner-form input {
  width: 30vw;
  height: 35px;
  margin-bottom: 20px;
}
.inner-form textarea {
  width: 30vw;
  height: 80px;
  margin-bottom: 20px;
}
.inner-form button {
  width: 30%;
  height: 45px;
  border: none;
  margin-right: 5px;
  background: #2f9c00;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 3px;
  cursor: pointer;
}

.inner-form .btns {
  display: flex;
  justify-content: center;
}

footer {
  padding: 30px;
  color: #ffffff;
  text-align: center;
  background: #d45f00;
}
